@charset "UTF-8";

:root{
    --cor-fundo-principal: #121411;
    --cor-fundo-secundario: #00010D;

    --cor-card: #1A1D18;
    --cor-card-destaque: #6B4B34;

    --cor-texto-principal: #D8D4C8;
    --cor-texto-secundario: #ffffffb3;
    --cor-texto-padrão: #000000;
    --cor-link:#2C4001;
    --cor-link-destaque: #00DF04;

    --cor-principal: #4E5B3C;

    --cor-secundaria: #C2A96A;

    --cor-hover: #8F7A4F;

    --cor-borda: #2B2F29;

    --cor-sombra: rgba(0, 0, 0, 0.45);

    --cor-verde-claro: #7A8B5D;

    --cor-branco: #ffffff;
    --cor-extra: #ff2a2a;
    --cor-extra2: red;
}

/*Fonte h1 TLOU*/
@font-face {
    font-family: 'tloufonts';
    src: url('fontes/brixton.otf');
}

/*Fonte padrão TLOU*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;


    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.logo{
    border-radius: 50%;
}

main#layout{
    height: 100vh;
    width: 100vw;
}

header{
    height: 60px;
    width: 100%;
    
    position: fixed;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

div#icon img{
    height: 80%;
}


div#title a{
    color: var(--cor-texto-principal);

    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 1.6em;

    text-decoration: none;
}

div#menu{
    color: var(--cor-texto-principal);

    height: 100%;
    width: 50px;

    font-size: 1.6em;
}

#menu-toggle{
    display: none;
}

.menu-btn{
    position: fixed;

    right: 20px;

    cursor: pointer;

    z-index: 1001;
}

.menu-btn i{
    font-style: normal;
}

.menu-btn i::before{
    content: "\f0c9";

    font-family: "Font Awesome 6 Free";
    font-weight: 600;

    color: white;

    transition: .3s;
}

/* TROCA PRA X */
#menu-toggle:checked + .menu-btn i::before{
    content: "\f00d";
}

.sidebar{
    position: fixed;

    top: 0;
    right: -250px;

    width: 250px;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;

    padding-top: 100px;

    transition: .5s;

    z-index: 1000;
}

.sidebar a{
    color: white;

    text-decoration: none;

    padding: 20px 30px;

    font-size: 1.2rem;

    transition: .3s;
}

.sidebar a:hover{
    color: var(--cor-link-destaque);

    transform: translateX(10px);
}

#menu-toggle:checked ~ .sidebar{
    right: 0;
}

#icon, #menu, #title{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#tlou-img{
    height: 100%;
    width: 100%;

    background-image: url(imagens/personagens/personagens_capa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#tlou-img h1{
    color: var(--cor-texto-principal);

    margin-bottom: 20px;
    width: 90%;

    font-family: 'tloufonts';
    font-size: clamp(5rem, 10vw, 15rem);
    text-align: center;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;

    width: 100%;

    margin-top: 30px;
}

.divider span{
    width: 60px;
    height: 1px;

    background: rgba(255,255,255,0.3);
}

.divider a{
    color: var(--cor-texto-principal);

    text-decoration: none;

    font-size: 0.9rem;
    font-weight: 800;

    letter-spacing: 3px;
    text-transform: uppercase;

    transition: 0.3s;
}

.divider a:hover{
    color: var(--cor-link-destaque);
    transform: translateY(-5px);

    text-shadow:
    0 0 20px rgba(0,223,4,0.5);
}

/* =========================
   ELEMENTO PAI
========================= */

.characters-area{
    width: 100%;
    height: 100vh;

    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;

    background:
    radial-gradient(
        circle at top left,
        #232b1d,
        #0d0d12 60%
    );
}

/* =========================
   EFEITO DE FUNDO
========================= */

.characters-area::before{
    content: '';

    position: absolute;

    width: 300px;
    height: 300px;

    border-radius: 50%;

    background:
    rgba(122,139,93,0.15);

    filter: blur(90px);

    top: -100px;
    left: -100px;

    z-index: 0;
}

/* =========================
   TRACK
========================= */

.carousel-track{
    display: flex;

    gap: 18px;

    width: max-content;

    animation:
    infiniteScroll 35s linear infinite;
}

/* =========================
   PAUSA QUANDO CLICAR
========================= */

/* PARA TUDO */

.characters-area:active .carousel-track{
    animation-play-state: paused;
}

/* ESCURECE OS OUTROS */

.characters-area:active .card{
    opacity: .35;

    transform: scale(.92);
}

/* =========================
   CARD
========================= */

.card{
    width: 240px;
    height: 420px;

    border-radius: 26px;

    overflow: hidden;

    position: relative;

    flex-shrink: 0;

    background: #111;

    border:
    1px solid rgba(255,255,255,0.08);

    box-shadow:
    0 10px 25px rgba(0,0,0,.25);

    transition:
    transform .4s,
    opacity .4s,
    box-shadow .4s,
    border .4s;

    opacity: .75;
}

/* =========================
   IMG
========================= */

.card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;

    transition:
    transform .5s,
    filter .5s;
}

/* =========================
   OVERLAY
========================= */

.card::before{
    content: '';

    position: absolute;
    inset: 0;

    z-index: 2;

    pointer-events: none;

    background:
    linear-gradient(
        to top,
        rgba(0,0,0,.55),
        transparent 45%
    );
}

/* =========================
   DESTAQUE AO CLICAR
========================= */

.card:active{

    transform:
    scale(1.08);

    opacity: 1 !important;

    z-index: 50;

    border:
    1px solid rgba(122,139,93,.45);

    box-shadow:
    0 0 30px rgba(122,139,93,.25),
    0 0 60px rgba(122,139,93,.12);

    animation-play-state: paused;
}

/* =========================
   IMG CLICK
========================= */

.card:active img{

    transform:
    scale(1.1);

    filter:
    brightness(1.1);
}

/* =========================
   FADE LATERAL
========================= */

.characters-area::after{
    content: '';

    position: absolute;

    inset: 0;

    pointer-events: none;

    background:
    linear-gradient(
        to right,
        #0d0d12 0%,
        transparent 10%,
        transparent 90%,
        #0d0d12 100%
    );

    z-index: 10;
}

/* =========================
   ANIMAÇÃO
========================= */

@keyframes infiniteScroll{

    from{
        transform:
        translateX(0);
    }

    to{
        transform:
        translateX(-50%);
    }

}