@charset "UTF-8";

:root {
    --cor-fundo-principal: #121411;
    --cor-fundo-secundario: #00010D;

    --cor-card: #1A1D18;
    --cor-card-destaque: #6B4B34;

    --cor-texto-principal: #D8D4C8;
    --cor-texto-secundario: #ffffffb3;
    --cor-texto-padrão: #000000;
    --cor-link: #2C4001;
    --cor-link-destaque: #00DF04;

    --cor-principal: #4E5B3C;

    --cor-secundaria: #C2A96A;

    --cor-hover: #8F7A4F;

    --cor-borda: #2B2F29;

    --cor-sombra: rgba(0, 0, 0, 0.45);

    --cor-verde-claro: #7A8B5D;

    --cor-line: #c8832a;
    --cor-branco: #ffffff;
    --cor-extra: #ff2a2a;
    --cor-extra2: red;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 60px;
    width: 100%;

    position: fixed;

    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

div#icon img {
    height: 80%;
}


div#title a {
    color: var(--cor-texto-principal);

    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 1.6em;

    text-decoration: none;
}

div#menu {
    color: var(--cor-texto-principal);

    height: 100%;
    width: 50px;

    font-size: 1.6em;
}

#menu-toggle {
    display: none;
}

.menu-btn {
    position: fixed;

    right: 20px;

    cursor: pointer;

    z-index: 1001;
}

.menu-btn i {
    font-style: normal;
}

.menu-btn i::before {
    content: "\f0c9";

    font-family: "Font Awesome 6 Free";
    font-weight: 600;

    color: white;

    transition: .3s;
}

/* TROCA PRA X */
#menu-toggle:checked+.menu-btn i::before {
    content: "\f00d";
}

.sidebar {
    position: fixed;

    top: 0;
    right: -250px;

    width: 250px;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;

    padding-top: 100px;

    transition: .5s;

    z-index: 1000;
}

.sidebar a {
    color: white;

    text-decoration: none;

    padding: 20px 30px;

    font-size: 1.2rem;

    transition: .3s;
}

.sidebar a:hover {
    color: var(--cor-link-destaque);

    transform: translateX(10px);
}

#menu-toggle:checked~.sidebar {
    right: 0;
}

#icon,
#menu,
#title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ellie .intro {
    background-image: url(../imagens/personagens/ellie_capa.jpg);
    background-position: 22% center;
}

.joel .intro {
    background-image: url(../imagens/personagens/joel_capa.jpg);
    background-position: center;
}

.abby .intro {
    background-image: url(../imagens/personagens/abby_capa.jpg);
    background-position: 25% center;
}

.tommy .intro {
    background-image: url(../imagens/personagens/tommy_capa.jpg);
    background-position: center;
}

.dina .intro {
    background-image: url(../imagens/personagens/dina_capa.jpg);
    background-position: 30% center;
}

.jesse .intro {
    background-image: url(../imagens/personagens/jesse_capa.jpg);
    background-position: 30% center;
}

.lev .intro {
    background-image: url(../imagens/personagens/lev_capa.jpg);
    background-position: 35% center;
}

.yara .intro {
    background-image: url(../imagens/personagens/yara_capa.jpg);
    background-position: 75% center;
}

.riley .intro {
    background-image: url(../imagens/personagens/riley_capa.jpg);
    background-position: center;
}

.tess .intro {
    background-image: url(../imagens/personagens/tess_capa.jpg);
    background-position: center;
}

.marlene .intro {
    background-image: url(../imagens/personagens/marlene_capa.jpg);
    background-position: 30% center;
}

.sarah .intro {
    background-image: url(../imagens/personagens/sarah_capa.jpg);
    background-position: 44% center;
}

.sam .intro {
    background-image: url(../imagens/personagens/henryandsam_capa.jpg);
    background-position: 60% center;
}

.henry .intro {
    background-image: url(../imagens/personagens/henryandsam_capa.jpg);
    background-position: 60% center;
}

.bill .intro {
    background-image: url(../imagens/personagens/bill_capa.jpg);
    background-position: 25% center;
}

.maria .intro {
    background-image: url(../imagens/personagens/maria_capa.jpg);
    background-position: center;
}

.owen .intro {
    background-image: url(../imagens/personagens/owen_capa.jpg);
    background-position: 30% center;
}

.nora .intro {
    background-image: url(../imagens/personagens/nora_capa.jpg);
    background-position: 25% center;
}

.mel .intro {
    background-image: url(../imagens/personagens/mel_capa.jpg);
    background-position: 30% center;
}

.manny .intro {
    background-image: url(../imagens/personagens/manny_capa.jpg);
    background-position: 32% center;
}

.isaac .intro {
    background-image: url(../imagens/personagens/isaac_capa.jpg);
    background-position: 45% center;
}

.jerry .intro {
    background-image: url(../imagens/personagens/jerry_capa.jpg);
    background-position: 55% center;
}

.intro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

    position: relative;
}

.intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(circle at 70% 20%, rgba(180, 90, 30, .18), transparent 35%),
        linear-gradient(to right, rgba(0, 0, 0, .8), transparent 70%);
    z-index: 1;
}

.intro-txt {
    width: 95%;
    flex: 1;

    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}

.spore {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.366);
    filter: blur(0.8px);
    animation: subir linear infinite;
}

.spore:nth-child(1) {
    width: 3px;
    height: 3px;
    left: 10%;
    animation-duration: 12s;
    animation-delay: 0s;
}

.spore:nth-child(2) {
    width: 2px;
    height: 2px;
    left: 25%;
    animation-duration: 17s;
    animation-delay: -4s;
}

.spore:nth-child(3) {
    width: 4px;
    height: 4px;
    left: 40%;
    animation-duration: 10s;
    animation-delay: -7s;
}

.spore:nth-child(4) {
    width: 2px;
    height: 2px;
    left: 55%;
    animation-duration: 14s;
    animation-delay: -2s;
}

.spore:nth-child(5) {
    width: 3px;
    height: 3px;
    left: 70%;
    animation-duration: 19s;
    animation-delay: -9s;
}

.spore:nth-child(6) {
    width: 2px;
    height: 2px;
    left: 85%;
    animation-duration: 11s;
    animation-delay: -5s;
}

.spore:nth-child(7) {
    width: 4px;
    height: 4px;
    left: 18%;
    animation-duration: 16s;
    animation-delay: -1s;
}

.spore:nth-child(8) {
    width: 2px;
    height: 2px;
    left: 62%;
    animation-duration: 13s;
    animation-delay: -6s;
}

.spore:nth-child(9) {
    width: 3px;
    height: 3px;
    left: 78%;
    animation-duration: 20s;
    animation-delay: -3s;
}

.spore:nth-child(10) {
    width: 2px;
    height: 2px;
    left: 33%;
    animation-duration: 15s;
    animation-delay: -8s;
}

.intro-line-mini {
    width: 95%;

    display: flex;
    align-items: center;
}

.intro-line {
    height: 1px;
    width: 80px;

    background: linear-gradient(90deg,
            transparent,
            var(--cor-line),
            transparent);

    margin-right: 10px;
}

.intro-line-end{
    height: 1px;
    width: 170px;

    background: linear-gradient(90deg,
            transparent,
            var(--cor-line),
            transparent);

    margin-right: 10px;
    z-index: 2;
}

.intro-mini {
    color: var(--cor-texto-secundario);
}

.intro-mini p {
    letter-spacing: 4px;
    font-size: 0.7rem;
}

.title {
    color: var(--cor-texto-principal);
    width: 100%;
    min-height: 160px;

    margin-top: 10px;
    margin-bottom: 10px;

    position: relative;
    min-height: 100px;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    font-size: clamp(1.5rem, 6vw, 4rem);
}

.bg-name {
    position: absolute;
    left: 0;
    top: 50%;
    
    transform: translateY(-50%);

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(5rem, 28vw, 10rem);
    font-weight: 900;
    letter-spacing: -8px;

    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.09);

    opacity: .8;

    text-shadow:
        0 0 25px rgba(200, 131, 42, 0.15),
        0 0 60px rgba(0, 0, 0, 0.8);

    z-index: 1;
    pointer-events: none;

    transition: .5s ease;
}

.bg-name::after {
    position: absolute;
    inset: 0;
    
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, .4);

    transform: translate(4px, 4px);

    z-index: -1;
}

.dina .bg-name::after {
    content: "DINA";
}

.bill .bg-name::after {
    content: "BILL";
}

.henry .bg-name::after {
    content: "HENRY";
}

.jesse .bg-name::after {
    content: "JESSE";
}

.lev .bg-name::after {
    content: "LEV";
}

.yara .bg-name::after {
    content: "YARA";
}

.marlene .bg-name::after {
    content: "MARLENE";
}

.sam .bg-name::after {
    content: "SAM";
}

.mel .bg-name::after {
    content: "MEL";
}

.nome {
    position: relative;
    z-index: 2;

    font-size: clamp(4rem, 12vw, 6rem);
    font-weight: 900;

    background: linear-gradient(45deg, var(--cor-sombra), var(--cor-texto-secundario));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobrenome {
    color: transparent;

    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.15);

    background-image:
        linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));

    background-clip: text;
    -webkit-background-clip: text;
}

.txt {
    color: var(--cor-texto-secundario);

    width: 95%;
    margin-top: 20px;

    letter-spacing: 1px;
    font-size: 1.1rem;
}

strong {
    color: var(--cor-line);
}

.btn-explorar {
    height: 30%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.explorar {
    width: fit-content;
}

.explorar button {
    position: relative;

    width: 210px;
    height: 65px;

    background: transparent;
    border: none;
    outline: none;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: .4s ease;
}

.explorar .text {
    color: var(--cor-texto-secundario);

    font-size: .8rem;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;

    transition: .4s ease;

    text-shadow: 0 0 10px rgba(255, 255, 255, .15);
    text-decoration: none;
}

.explorar .line {
    position: absolute;

    height: 1px;

    background: linear-gradient(90deg,
            transparent,
            var(--cor-line),
            transparent);

    transition: .5s ease;
}

.explorar .left {
    width: 120px;

    top: 18px;
    left: -40px;
}

.explorar .right {
    width: 120px;

    bottom: 18px;
    right: -40px;
}

.explorar button::before {
    content: "";

    position: absolute;
    inset: 0;

    background: radial-gradient(circle,
            rgba(200, 131, 42, .18),
            transparent 70%);

    opacity: 0;

    transition: .5s ease;
}

.explorar button:hover {
    transform: translateY(-4px);
}

.explorar button:hover::before {
    opacity: 1;
}

.explorar button:hover .text {
    color: #ffffff;

    letter-spacing: 8px;

    text-shadow:
        0 0 10px rgba(200, 131, 42, .5),
        0 0 20px rgba(200, 131, 42, .3);
}

.explorar button:hover .left {
    left: 20px;
    width: 100px;

    box-shadow: 0 0 12px #c8832a;
}

.explorar button:hover .right {
    right: 20px;
    width: 100px;

    box-shadow: 0 0 12px #c8832a;
}

.explorar button:active {
    transform: scale(.96);
}

.intro-line-mini,
.title,
.txt,
.explorar {
    position: relative;
    z-index: 2;
}

@keyframes subir {
    0% {
        bottom: -10px;
        opacity: 0;
        transform: translateX(0px);
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        bottom: 110%;
        opacity: 0;
        transform: translateX(25px);
    }
}

#sobre{
    background-color: red;
}

.img-txt{
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-ellie{
    object-position: 50% 20%;
}

.img-historia img{
    width: 170px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 10px;

    object-fit: cover;
    object-position: 50% 20%;

    border: 5px solid transparent;
    outline: 5px solid var(--cor-texto-secundario);
    border-radius: 50%;
}

.img-historia h2{
    padding:10px;
    background-color: teal;
    text-align: center;
}

.txt-historia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    padding: 15px;
}

.container-info{
    padding: 20px;
    border: 1px solid rgba(255,255,255,.12);
    background: rgba(0,0,0,.35);

}