@charset "UTF-8";

:root{
    --cor-fundo-principal: #121411;
    --cor-fundo-secundario: #00010D;

    --cor-card: #1A1D18;
    --cor-card-destaque: #6B4B34;

    --cor-texto-principal: #D8D4C8;
    --cor-texto-secundario: #ffffffb3;
    --cor-texto-padrão: #000000;
    --cor-link:#2C4001;
    --cor-link-destaque: #00DF04;

    --cor-principal: #4E5B3C;

    --cor-secundaria: #C2A96A;

    --cor-hover: #8F7A4F;

    --cor-borda: #2B2F29;

    --cor-sombra: rgba(0, 0, 0, 0.45);

    --cor-verde-claro: #7A8B5D;

    --cor-branco: #ffffff;
    --cor-extra: #ff2a2a;
    --cor-extra2: red;
}

/*Fonte h1 TLOU*/
@font-face {
    font-family: 'tloufonts';
    src: url('../fontes/brixton.otf');
}

/*Fonte padrão TLOU*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.logo{
    border-radius: 50%;
}

main#layout{
    height: 100vh;
    width: 100vw;
}

header{
    background-color: var(--cor-fundo-principal);

    height: 60px;
    width: 100%;
    
    position: fixed;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

div#icon img{
    height: 80%;
}


div#title a{
    color: var(--cor-texto-principal);

    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 1.6em;

    text-decoration: none;
}

div#menu{
    color: var(--cor-texto-principal);

    height: 100%;
    width: 50px;

    font-size: 1.6em;
}

#menu-toggle{
    display: none;
}

.menu-btn{
    position: fixed;

    right: 20px;

    cursor: pointer;

    z-index: 1001;
}

.menu-btn i{
    font-style: normal;
}

.menu-btn i::before{
    content: "\f0c9";

    font-family: "Font Awesome 6 Free";
    font-weight: 600;

    color: white;

    transition: .3s;
}

/* TROCA PRA X */
#menu-toggle:checked + .menu-btn i::before{
    content: "\f00d";
}

.sidebar{
    position: fixed;

    top: 0;
    right: -250px;

    width: 250px;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;

    padding-top: 100px;

    transition: .5s;

    z-index: 1000;
}

.sidebar a{
    color: white;

    text-decoration: none;

    padding: 20px 30px;

    font-size: 1.2rem;

    transition: .3s;
}

.sidebar a:hover{
    color: var(--cor-link-destaque);

    transform: translateX(10px);
}

#menu-toggle:checked ~ .sidebar{
    right: 0;
}

#icon, #menu, #title{
    display: flex;
    align-items: center;
    justify-content: center;
}