@charset "UTF-8";

:root{
    --cor-fundo-principal: #121411;
    --cor-fundo-secundario: #00010D;

    --cor-card: #1A1D18;
    --cor-card-destaque: #6B4B34;

    --cor-texto-principal: #D8D4C8;
    --cor-texto-secundario: #ffffffb3;
    --cor-texto-padrão: #000000;
    --cor-link:#2C4001;
    --cor-link-destaque: #00DF04;

    --cor-principal: #4E5B3C;

    --cor-secundaria: #C2A96A;

    --cor-hover: #8F7A4F;

    --cor-borda: #2B2F29;

    --cor-sombra: rgba(0, 0, 0, 0.45);

    --cor-verde-claro: #7A8B5D;

    --cor-branco: #ffffff;
    --cor-extra: #ff2a2a;
    --cor-extra2: red;
}

/*Fonte h1 TLOU*/
@font-face {
    font-family: 'tloufonts';
    src: url('../fontes/brixton.otf');
}

/*Fonte padrão TLOU*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.logo{
    border-radius: 50%;
}

main#layout{
    height: 100vh;
    width: 100vw;
}

header{
    background-color: var(--cor-fundo-principal);

    height: 60px;
    width: 100%;
    
    position: fixed;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    z-index: 1000;
}

div#icon img{
    height: 80%;
}


div#title a{
    color: var(--cor-texto-principal);

    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 1.6em;

    text-decoration: none;
}

div#menu{
    color: var(--cor-texto-principal);

    height: 100%;
    width: 50px;

    font-size: 1.6em;
}

#menu-toggle{
    display: none;
}

.menu-btn{
    position: fixed;

    right: 20px;

    cursor: pointer;

    z-index: 1001;
}

.menu-btn i{
    font-style: normal;
}

.menu-btn i::before{
    content: "\f0c9";

    font-family: "Font Awesome 6 Free";
    font-weight: 600;

    color: white;

    transition: .3s;
}

/* TROCA PRA X */
#menu-toggle:checked + .menu-btn i::before{
    content: "\f00d";
}

.sidebar{
    position: fixed;

    top: 0;
    right: -250px;

    width: 250px;
    height: 100vh;

    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;

    padding-top: 100px;

    transition: .5s;

    z-index: 1000;
}

.sidebar a{
    color: white;

    text-decoration: none;

    padding: 20px 30px;

    font-size: 1.2rem;

    transition: .3s;
}

.sidebar a:hover{
    color: var(--cor-link-destaque);

    transform: translateX(10px);
}

#menu-toggle:checked ~ .sidebar{
    right: 0;
}

#icon, #menu, #title{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#tlou-img{
    height: 100%;
    width: 100%;

    background-image: url(../imagens/personagens/personagens_capa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

section#tlou-img::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

section#tlou-img h1{
    color: var(--cor-texto-principal);

    margin-bottom: 20px;
    width: 90%;

    font-family: 'tloufonts';
    font-size: clamp(5rem, 10vw, 15rem);
    text-align: center;

    z-index: 1;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;

    width: 100%;
    margin-top: 30px;
    
    z-index: 1;
}

.divider span{
    width: 60px;
    height: 1px;

    background: rgba(255,255,255,0.3);
}

.divider a{
    color: var(--cor-texto-principal);

    text-decoration: none;

    font-size: 0.9rem;
    font-weight: 800;

    letter-spacing: 3px;
    text-transform: uppercase;

    transition: 0.3s;
}

.divider a:hover{
    color: var(--cor-link-destaque);
    transform: translateY(-5px);

    text-shadow:
    0 0 20px rgba(0,223,4,0.5);
}

#layout-personagens{
    background-image: url(../imagens/tlouvibes/fundotlou1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    scroll-margin-top: 60px;
}

.txt-overlay{
    position: absolute;
    inset: 0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.95)
    );
}

.intro-txt{
    position: relative;
    z-index: 5;
}

/*SECTION PERSONAGENS*/
.txt-personagens{
    color: var(--cor-texto-secundario);
    padding: 80px 40px;
}

.mini-title{
    color: var(--cor-link-destaque);

    letter-spacing: 4px;

    font-size: 0.9rem;
}

.txt-personagens h2{
    color: var(--cor-branco);

    font-size: clamp(3rem, 10vw, 7rem);

    line-height: 1;

    margin-top: 15px;
}

/*LINHA ABAIXO DO TITLE*/
.txt-personagens h2::after{
    content: "";

    display: block;

    width: 120px;
    height: 3px;

    margin-top: 20px;

    background: var(--cor-link-destaque);

    box-shadow:
    0 0 10px var(--cor-link-destaque);
}

.txt-personagens p{
    color: var(--cor-texto-principal);

    line-height: 1.8;

    margin-top: 30px;

    font-size: 1rem;
}

/* =========================================
   SECTION
========================================= */

.characters-section{
    width: 100%;

    padding: 40px 0;

    position: relative;

    overflow: hidden;
    user-select: none;
}

/* =========================================
   FADE LATERAL
========================================= */

.characters-section::before,
.characters-section::after{
    content: '';

    position: absolute;

    top: 0;

    width: 60px;
    height: 100%;

    z-index: 10;

    pointer-events: none;
}

/* ESQUERDA */

.characters-section::before{
    left: 0;

    background:
    linear-gradient(
        to right,
        #0d0d12,
        transparent
    );
}

/* DIREITA */

.characters-section::after{
    right: 0;

    background:
    linear-gradient(
        to left,
        #0d0d12,
        transparent
    );
}

/* =========================================
   TOPO
========================================= */

.top-bar{
    width: 90%;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-txt{
    width: auto;
    padding: 10px;

    border-radius: 8px;

    color: var(--cor-hover);

    font-size: .9rem;
    font-weight: bold;
    text-align: center;

    cursor: pointer;

    transition: .3s;
}

.label-direction{
    display: flex;
    justify-content: center;
}

.toggle-btn{
    width: auto;
    padding: 10px;

    border-radius: 8px;

    background: var(--cor-fundo-secundario);

    color: var(--cor-link-destaque);

    font-size: .9rem;
    font-weight: bold;
    text-align: center;

    cursor: pointer;

    transition: .3s;
}

.toggle-btn:hover{
    background-color: var(--cor-link-destaque);
    color: var(--cor-fundo-secundario);

    
    transition: .6s;
}

/* =========================================
   CHECKBOX
========================================= */

#toggle-view{
    display: none;
}

#toggle-view:not(:checked) ~ .characters-container .character-card{
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}

/* =========================================
   CONTAINER HORIZONTAL
========================================= */

.characters-container{
    display: flex;

    gap: 20px;

    overflow-x: auto;

    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;

    padding: 20px;

    position: relative;

    z-index: 5;
}

/* =========================================
   SCROLLBAR PERSONALIZADA
========================================= */

.characters-container::-webkit-scrollbar{
    height: 5px;
}

.characters-container::-webkit-scrollbar-track{
    background:rgba(255,255,255,0.05);

    border-radius: 20px;

    margin: 0 20px;
}

.characters-container::-webkit-scrollbar-thumb{
    background: var(--cor-link-destaque);

    border-radius: 20px;
}

/* =========================================
   CARD
========================================= */

.character-card{
    min-width: 280px;
    height: 420px;

    position: relative;

    overflow: hidden;

    border-radius: 24px;

    flex-shrink: 0;

    scroll-snap-align: center;

    background: #111;

    border: 1px solid rgba(255,255,255,0.08);

    transition:transform .4s,filter .4s;

    box-shadow: 0 10px 25px rgba(0,0,0,.35);
}

/* =========================================
   IMAGEM
========================================= */

.character-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: .5s;
}

/* =========================================
   OVERLAY
========================================= */

.overlay{
    position: absolute;
    left: 50%;
    top: 100%;

    width: 85%;
    padding: 10px;

    transform: translate(-50%, -50%);
    transition: 1s;

    opacity: 0;

    background: transparent;
}

/* =========================================
   HOVER
========================================= */

.characters-container:hover .character-card{
    filter: brightness(.55) blur(1px);
}

.characters-container .character-card:hover{
    transform:
    scale(1.04);

    filter: brightness(1);

    z-index: 20;

    box-shadow:0 0 25px rgba(122,139,93,.25),0 0 50px rgba(122,139,93,.10);
}

.character-card:hover img{
    transform: scale(1.08);
}

.character-card:hover .overlay{
    top: 50%;
    opacity: 1;
}

/* =========================================
   TEXTOS
========================================= */

.overlay h2{
    color: white;

    margin: 5px;
    font-size: 1.5rem;
}

.overlay p{
    color:var(--cor-texto-secundario );

    font-size: .95rem;
    line-height: 1.5;

    margin: 5px;
}

.overlay a{
    display: inline-block;

    padding: 10px 18px;
    border-radius: 8px;

    background:#7A8B5D;
    color: white;

    text-decoration: none;
    font-weight: bold;

    transition: .3s;
}

.overlay a:hover{
    background:#92a96d;

    transform:
    translateY(-2px);
}

/* =========================================
   GRID MODE - VER TODOS
========================================= */

#toggle-view:checked ~ .characters-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 18px;

    overflow-x: hidden;

    padding: 40px;
}

/* CARD NO GRID */

#toggle-view:checked ~ .characters-container .character-card{
    width: 100%;

    min-width: 0;

    height: 600px;

    border-radius: 18px;
}

/* IMAGEM NO GRID */

#toggle-view:checked ~ .characters-container .character-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center top;
}

footer.container{
    background-color: var(--cor-card);

    display: grid;
    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

    gap: 16px;

    padding: 20px;
}

.caixa1 h2{
    color: var(--cor-principal);
    margin-bottom: 20px;
}

.caixa1 p{
    color: var(--cor-texto-secundario);
}

.caixa2 h2{
    color: var(--cor-principal);

    margin-bottom: 20px;
}

.caixa2 .footer-links{
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: flex-start;

    gap: 16px;
}

.footer-links a{
    color: var(--cor-texto-secundario);

    letter-spacing: 2px;
    font-size: 1rem;
    text-decoration: none;
}

.caixa2 .footer-links a:hover{
    color: var(--cor-link-destaque);
}

.caixa3 h2{
    color: var(--cor-principal);

    margin-bottom: 20px;
}

.caixa3 #icons{
    display: flex;

    font-size: 1.6rem;
    gap: 20px;
}

.caixa3 #icons a{
    color: rgba(255, 255, 255, 0.448);
}

.caixa3 #icons a:hover{
    color: var(--cor-link-destaque);
}

.caixa3 #icons #icon-email a:hover{
    color: var(--cor-extra);
}

.caixa3 #icons #icon-linkedin a:hover{
    color: #4545ff;
}

.caixa3 #icons #icon-github a:hover{
    color: rgb(255, 0, 255);
}

#icons i{
    transition: transform .3s ease;
}

#icons i:hover{
    transform: scale(1.2);
}

.linha{
    width: 100%;
    height: 2px;

    background-color: var(--cor-texto-secundario);
}

.caixa4{
    color: var(--cor-texto-secundario);
}

.caixa4 a{
    color: var(--cor-link);

    text-decoration: none;
    font-weight: bold;

    transition: .3s;
}

.caixa4 a:hover{
    color: var(--cor-link-destaque);
}